html body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    background-color: grey;
    height: 50px;
    width: 100%;
    top: 0;
}

img {
    margin: auto;
    padding: auto;
}

nav {
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#src-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.pomodoro {
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;
}

#clock {
    display: flex;
    width: 400px;
    height: 350px;
    border: 1px solid white;
    background-color: red;
    flex-direction: column;
    border-radius: 5%;
}

#timer {
    font-size: 100px;
    text-align: center;
}

.cycle-counter {
    text-align: center;
    margin-top: -100px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}

button:hover {
    opacity: .7;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

#start {
    background-color: #27ae60;
}

#stop {
    background-color: #c0392b;
}

#reset {
    background-color: #7f8c8d;
}

.tasks {
    flex: 1;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: auto;
    padding: auto;
    margin-left: 500px;
}

.task-container li {
    width: 100%;
    padding: 10px;
}

.task-container button {
    font-size: 10px;
}